@import '_colors.scss';

.Message {
  .show-pointer-on-hover {
    cursor: pointer;
  }

  .author-header {
    color: $black;
  }

  .fallback-profile-img {
    width: 55px;
    height: 55px;
    background-color: $orange;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .initials {
      color: $white;
    }
  }

  .message-content {
    white-space: pre-wrap;
  }
}